.container {
  width: 870px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex; 
  flex-direction: column;
  font-family: 'Carlito', sans-serif;
  gap: 10px;
}

.keyboard {
  display: flex;
  flex-direction: column;
  position: relative;
}

.line {
  display: flex;
}

.description,
.language {
  margin: 0;
}

.title {
  margin-bottom: 0px;
}

.key {
  min-width: 40px;
  height: 40px;
  border: 1px solid slategray;
  border-radius: 4px;
  margin: 3px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    background-color: slategray;
  }

  &.active {
    background-color: rgb(126, 196, 149);
  }
}

.special-key {
  background-color: rgb(112, 128, 144, 0.14);
}

.textarea {
  height: 223px;
}

.hidden {
  display: none;
}

.Backspace {
  min-width: 96px;
}

.CapsLock,
.Enter,
.ShiftLeft,
.ShiftRight {
  min-width: 96px;
}

.Space {
  min-width: 374px;
}

.ArrowUp {
  background-image: url(../assets/png/icon-up-arrow.png);
  background-size: 14px, cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ArrowDown {
  background-image: url(../assets/png/icon-down-arrow.png);
  background-size: 14px, cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ArrowLeft {
  background-image: url(../assets/png/icon-left-arrow.png);
  background-size: 14px, cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ArrowRight {
  background-image: url(../assets/png/icon-right-arrow.png);
  background-size: 14px, cover;
  background-repeat: no-repeat;
  background-position: center;
}
